body {
	min-width: 960px;
	margin: 0;

	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;

	-webkit-clip-path: inset(100%);

					clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;

	background-color: #ee3643;
	border-radius: 3px;
}

.button:hover {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.main-header {
	padding-bottom: 64px;
	margin-bottom: 59px;

	background-color: #f3f7f9;
}

.inner-page .main-header {
	margin-bottom: 23px;
}

.search-navigation {
	margin-bottom: 44px;
	color: #ffffff;

	background-color: #293449;
}

.search-navigation .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
				-ms-flex-pack: start;
					justify-content: flex-start;
}

.button-order,
.site-bookmarks,
.site-cart {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	width: 150px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.site-bookmarks {
	position: relative;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	padding-left: 44px;
}

.site-bookmarks:hover::before {
	opacity: 1;
}

.site-bookmarks::before {
	content: "";
	position: absolute;
	width: 14px;
	height:16px;
	top: 12px;
	left: 17px;

	background-image: url(../img/icon-bookmark.svg);
	background-position: 0 0;
	background-repeat: no-repeat;

	opacity: .3;
}

.site-cart {
	position: relative;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	padding-left: 50px;
}

.site-cart:hover::before {
	opacity: 1;
}

.site-cart::before {
	content: "";
	position: absolute;
	width: 15px;
	height:15px;
	top: 12px;
	left: 17px;

	background-image: url(../img/cart-icon.svg);
	background-position: 0 0;
	background-repeat: no-repeat;

	opacity: .3;
}

.site-bookmarks:hover,
.site-cart:hover {
	background-color: #212a3a;
}

.inner-page .site-cart {
	background-color: #ee3643;
}

.button-order {
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;

	background-color: #63a63e;
}
.button-order:hover {
	background-color: #5fbb2d;
}
.button-order:active {
	background-color: #518534;
}

.logo {
	color: #ffffff;

	-webkit-box-shadow: 0 5px 0 0 #b52933;

					box-shadow: 0 5px 0 0 #b52933;
	border-radius: 0;
}

.header-logo {
	padding: 9px 55px;
	width: 110px;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
}

.header-search  {
	position: relative;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	width: 270px;

	font-size: 17px;
	line-height: 18px;
}

.header-search input {
	width: 100%;
	padding: 12px 0 12px 49px;
	font: inherit;

	background-color: transparent;
	border: none;
	cursor: pointer;
}

.header-search input:hover {
	background-color: #212a3a;
}

.header-search input:focus {
	font: inherit;
	color: #000000;

	background-color: #ffffff;
	border: none;
}

.header-search label::before {
	content: "";

	position: absolute;
	top: 12px;
	left: 17px;
	width: 17px;
	height: 17px;

	background-image: url(../img/icon-search.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: .3;
}

.header-search:hover label::before {
	opacity: 1;
}

.header-search input:focus + label::before {
	background-image: url(../img/icon-search-red.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 1;
}

.header-search input::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
	opacity: 1; /* Firefox */
}

.header-search input:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
	opacity: 1; /* Firefox */
}

.header-search input::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
	opacity: 1; /* Firefox */
}

.header-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
	opacity: 1; /* Firefox */
}
.header-search input:focus::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #000000;
	opacity: 1; /* Firefox */
}
.header-search input:focus:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #000000;
	opacity: 1; /* Firefox */
}
.header-search input:focus::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #000000;
	opacity: 1; /* Firefox */
}
.header-search input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #000000;
	opacity: 1; /* Firefox */
}

.header-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ffffff;
}

.header-search input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #000000;
}

.header-search input::-ms-input-placeholder { /* Microsoft Edge */
	color: #ffffff;
}

.header-search input:focus::-ms-input-placeholder { /* Microsoft Edge */
	color: #000000;
}

.contacts-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	
	margin-bottom: 38px;
}

.main-title {
	width: 200px;
	margin: 0;
	padding-left: 51px;
	padding-top: 5px;

	font-style: italic;
	text-align: left;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.contacts-text {
	width: 270px;
	margin-left: 70px;
}

.text-phone {
	position: relative;
	margin: 0;
	margin-bottom: 3px;
	padding-left: 70px;
	padding-top: 12px;
	padding-bottom: 9px;
	padding-right: 45px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	background-color: #f4f8f9;
	border: 3px solid #ffffff;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.text-phone::before {
	position: absolute;
	
	content: "";
	width: 19px;
	height: 19px;
	top: 10px;
	left: 13px;
	background-color: #f4f8f9;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.text-adress {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #32425c;
}

.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	width: 281px;
	margin: 0;
	margin-left: auto;
	padding: 0;
	
	list-style: none;
}



.user-navigation a {
	display: block;
	font: inherit;
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.link-enter:hover,
.link-registration:hover {
	color: #ee3643;
}

.link-enter:hover svg {
	fill: #c5c5c5;
	color: #c5c5c5;
}
.user-navigation a:active {	
	color: #c5c5c5;
}

.inner-page .user-navigation {
	-webkit-box-pack: start;
			-ms-flex-pack: start;
					justify-content: flex-start;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	width: 300px;
}

.user-login {
	display: flex;
	font: inherit;

	padding: 14px 0 10px 0;
	font-size: 21px;
	line-height: 21px;
	width: 300px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	margin-bottom: 7px;

	background-color: #ffffff;
}

.user-navigation .link-login {
	font: inherit;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 13px;

}

.svg-user {
	padding-right: 14px;
}

.user-login .link-logout {
	display: flex;
}

.svg-logout {
	padding-top: 2px;
	padding-left: 36px;
}



.link-logout svg,
.link-login svg {
	fill: #c5c5c5;
}

.link-logout:hover svg,
.link-login:hover svg {
	color: #000000;
	fill: #32425C;
}

.link-logout:active svg,
.link-login:active svg {
	color: #c5c5c5;
	fill: #c5c5c5;
}

.user-navigation .order-link,
.user-navigation .private-link {
	background-color: transparent;
}



.inner-page .order-link,
.inner-page .separator,
.inner-page .private-link {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.inner-page .order-link {
	margin-left: 19px;
}
.inner-page .separator {
	margin-left: 15px;
}
.inner-page .private-link {
	margin-left: 12px;
}

.inner-page .order-link:hover,
.inner-page .private-link:hover {
	color: #ee3643;
}

.inner-page .order-link:active,
.inner-page .private-link:active {
	color: #c5c5c5;
}

.inner-page .separator {
	position: relative;
	width: 4px;
	height: 4px;
	top: 7px;
	left: 0;

	background-color: #32425c;
	border-radius: 50%;
}



.link-enter {
	max-width: 120px;
	position: relative;
	padding: 14px 25px 10px 48px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.link-enter svg {
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
}

.link-enter svg {
	fill: #c5c5c5;
}
.link-enter:hover svg {
	fill: #32425c;
}

.link-enter:active svg,
.link-registration:active,
.link-enter:active {
	color: #c5c5c5;
	fill: #c5c5c5;
}

.link-registration {
	max-width: 150px;
	padding: 14px 25px 10px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	background-color: #32425c;
	-webkit-box-shadow: 0 5px 0 0 rgba(41, 52, 73, 1);
					box-shadow: 0 5px 0 0 rgba(41, 52, 73, 1);
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	margin: 0;
	padding: 0;
	color: #ffffff;

	list-style: none;
}

.site-navigation li {
	display: flex;
	justify-content: center;
}

.site-navigation a {
	align-self: center;
	padding: 22px 30px 18px;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
}

.site-navigation a:hover {
	background-color: #293449;
}
.site-navigation a:active {
	opacity: .5;

	background-color: #1d2739;
}

.site-navigation-current {
	opacity: .5;
	font-size: 17px;
	line-height: 17px;

	background-color: #32425c;
}
.site-navigation .site-navigation-current:hover {
	background-color: #32425c;
}


	
.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
			-ms-flex-pack: start;
					justify-content: flex-start;
	width: 380px;
	margin-bottom: 20px;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs li::after {
	position: absolute;

	content: "";
	background-image: url(../img/icon-right-small.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 8px;
	height: 12px;
	top: 3px;
	right: -24px;
}

.breadcrumbs li:last-child {
	margin-right: 0;
}
.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs a {
	
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}





.page-title {
	padding: 30px;
	margin-bottom: 17px;

	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;

	background-color: #f2f6f8;
}

.inner-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
}

.filter {
	width: 220px;
}

.filter h2 {
	padding: 10px 20px;
	margin: 0;
	margin-bottom: 10px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f7f3ec;
	border-radius: 2px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

fieldset:not(:last-of-type) {
	border-bottom: 1px solid #e5e5e5;
}

.filter-price {
	margin-bottom: 15px;
}
.filter-manufacturers {
	margin-bottom: 18px;
}

fieldset legend {
	display: block;
	
	padding-bottom: 15px;

	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.range-filter {
	width: 220px;
	margin-top: 0px;
}

.range-controls {
	position: relative;

	height: 41px;
	margin-bottom: 9px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #f7f3ec;

	border-radius:0 0 5px 5px;
}

.range-controls .scale {
	height: 2px;

	background-color: #d7dcde;
}

.range-controls .bar {
	width: 151px;
	height: 2px;

	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #e0ddd8;
					box-shadow: 0 2px 1px 0 #e0ddd8;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	margin-bottom: 25px;
	width: 100%;

	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.price-controls input {
	width: 55px;
	padding: 10px 20px;
	
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: #000000;

	border: none;
	border-radius: 5px;
	background: #f7f3ec;
}



fieldset label {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}

.filter-option {
	position: relative;
	margin: 0;
	padding-left: 35px;
	padding-bottom: 21px;
}

.filter-option label {

	display: block;

	cursor: pointer;
	-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
}

label svg {
	display: none;
}

.option-checkbox:checked + label::before {
	display: none;
}

.option-checkbox:checked ~ label svg {
	display: block;
	fill: #c5c5c5;
	position: absolute;
	content: "";
	top: -2px;
	left: 0;
	width: 27px;
	height: 23px;
}

.option-radio:disabled + label,
.option-checkbox:disabled + label {
	opacity: 0.4;

	cursor: not-allowed;
}

.option-radio:disabled + label::before,
.option-radio:disabled:checked + label::after,
.option-checkbox:disabled + label svg {
	opacity: 0.3;

	cursor: not-allowed;
}

.option-checkbox + label::before {
	position: absolute;
	content: "";
	top: -2px;
	left: 0;
	width: 19px;
	height: 19px;
	background-color: transparent;
	border: 2px solid #b5b5b5;
	border-radius: 3px;
}

.option-checkbox:hover + label::before {
	border-color: #c5c5c5;
}

.option-radio + label::before {
	position: absolute;
	content: "";
	top: -2px;
	left: 0;
	width: 19px;
	height: 19px;
	background-color: transparent;
	border: 2px solid #c5c5c5;
	border-radius: 50%;
}

.option-radio:checked + label::after {
	position: absolute;
	content: "";
	top: 5px;
	left: 7px;
	width: 9px;
	height: 9px;
	background-color: #c5c5c5;
	border-radius: 50%;
}


.option-radio:checked:hover + label::after {
	background-color: #b5b5b5;
	
}

.option-radio:hover + label::before,
.option-radio:checked:hover + label::before {
	border-color: #b5b5b5;
}



.filter-button {
	margin-top: 55px;
	padding: 9px 38px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	cursor: pointer;
}

.sort-products {
	width: 700px;
}

.sort-products-wrapp {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
			-ms-flex-align: start;
					align-items: flex-start;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	margin-bottom: 20px;
	padding: 10px 5px 10px 19px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;

	background-color: #f7f3ec;
	border-radius: 3px;
}

.sort-products-wrapp h2 {
	margin: 0;
	margin-right: 140px;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.sort-products-wrapp .sort-product-current {
	margin-right: 71px;
}

.sort-products-wrapp .sort-product-current + a {
	margin-right: 66px;
}

.sort-products-wrapp a:nth-of-type(3) {
	margin-right: 46px;
}

.sort-products-wrapp .sort-prew {
	margin-right: 21px;
	
}

.sort-products-wrapp a {
	color: #c5c5c5;
	border-bottom: 1px dotted #ee3643;
}
.sort-products-wrapp a:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-products .sort-product-current,
.sort-products-wrapp a:active {
	color: #ee3643;
	border-bottom: none;
}

.sort-products-wrapp a:nth-last-of-type(2),
.sort-products-wrapp a:last-of-type,
.sort-products-wrapp a:nth-last-of-type(2):hover,
.sort-products-wrapp a:last-of-type:hover {
	border: none;
}

.sort-next path,
.sort-prew path {
	fill: #c5c5c5;
}

.sort-next path:hover,
.sort-prew path:hover {
	fill: #231f20;
}

.sort-next path:active,
.sort-prew path:active {
	fill: #ee3643;
}

.sort-next path,
.sort-prew path {
	fill: #c5c5c5;
}


.products-list {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
			-ms-flex-pack: start;
					justify-content: flex-start;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	padding: 0;


	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}

.promo {
	margin-bottom: 53px;
}

.promo-adventages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: start;
			-ms-flex-pack: start;
					justify-content: flex-start;
}

.promo-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin: 0;
	width: 300px;
	min-height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;

	color: #ffffff;
}

.promo-item .flag {
	top: 0;
	right: 0;
}

.promo-description {
	margin: 0;
	width: 160px;
}

.promo-item b {
	display: block;
	margin-bottom: 12px;
	margin-top: 23px;
	margin-left: 23px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.promo-item .button-promo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	margin-left: 25px;
	margin-bottom: 20px;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: rgba(0, 0, 0, .10);
}

.button-promo:hover {
	background-color: rgba(0, 0, 0, .20);
}
.button-promo:active {
	background-color: rgba(0, 0, 0, .30);
}

.promo-image {
	-ms-flex-item-align: center;
			-ms-grid-row-align: center;
			align-self: center;
	text-align: center;
	width: 140px;
}

.promo-stock {
	background-color: #ffbf47;
}

.promo-tool {
	background-color: #3bbce3;
}

.promo-technics {
	background-color: #dc91d8;
}

.promo-wrapper {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
					order: 2;
}

.promo-discount {
	background-color: #8ed78f;
	margin-right: 0;
}
.promo-delivery {
	background-color: #ffc047;
	margin-right: 0;
	margin-bottom: 0;
}

/* slider */
.slider {
	position: relative;
	-webkit-box-ordinal-group: 2;
			-ms-flex-order: 1;
					order: 1;
}

.slider-controls {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	bottom: 36px;
	z-index: 100;

	width: 40px;
	height: 15px;

	text-align: center;
	font-size: 0;
	-webkit-transform: translateX(-75%);
			-ms-transform: translateX(-75%);
					transform: translateX(-75%);
}

.slider-controls li {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	padding: 5px;

	border-radius: 50%;
	cursor: pointer;
}

.slider-controls .active::before {
	content: "";

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;

	width: 6px;
	height: 6px;
	margin: -3px;

	background-color: #ee3643;

	border-radius: 50%;
}

.slider-controls li::after {
	content: "";

	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;

	width: 10px;
	height: 10px;

	background: #ffffff;
	border-radius: 50%;
}

.slider .prev, 
.slider .next {
	position: absolute;
	top: 115px;
	display: block;
	width: 22px;
	height: 40px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	opacity: 0.7;
}

.slider .prev:hover, 
.slider .next:hover,
.slider .prev:focus, 
.slider .next:focus {
	opacity: 1;
}

.slider .prev {
	left: 25px;
	background-image: url(../img/icon-left.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.slider .next {
	right: 40px;
	background-image: url(../img/icon-right.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-item {
	display: none;
	padding: 25px;
	padding-bottom: 22px;
	height: 266px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	
}

.slide-1 {
	display: block;
	background-color: #dac8b5;
	background-image: url(../img/perforators.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.slide-2 {
	display: block;
	background-color: #5c4841;
	background-image: url(../img/drills.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider-list {
	margin: 0;
	margin-right: 20px;
	padding: 0;
	width: 620px;
	min-height: 266px;
	list-style: none;

	background-color: #c5c5c5;
}

.text-promo-item {
	color: #ffffff;

}
.text-promo-item h3 {
	margin: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.text-promo-item p {
	margin: 0;
	margin-bottom: 121px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.button-slide {
	display: inline-block;
	vertical-align: middle;
	width: 196px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.promo-item:nth-of-type(3),
.promo-item:nth-of-type(4),
.promo-item:nth-of-type(5),
.popular-products .products-item:nth-child(4n),
.sort-products .products-item:nth-child(3n) {
	margin-right: 0;
}

.popular-manufacturers {
	margin-bottom: 70px;
}

.popular-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
					align-items: center;
	padding: 26px 24px 26px 25px;
	margin-bottom: 20px;
	color: #32425c;

	background-color: #f9f5f0;
}
.popular-wrapper h2 {
	margin: 0;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.button-popular {
	
	padding: 10px 20px;
	width: 254px;
	text-align: center;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.products-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	width: 220px;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: center;
	
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}


.products-item:hover {
	-webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
					box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
}


.flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	z-index: 20;
}


.flag-new {
	background-image: url("../img/new-flag.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.products-item .buttons-actions{
	position:absolute;
	top:0;
	left:0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255, 255, 255, 1);
	z-index: 10;
}

.products-item .image{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	width:220px;
	height:168px;
}
.products-item img{
	max-width:100%;
}

.products-item h3 {
	align-self: stretch;
	padding: 0 30px;
	margin-top: 8px;
	margin-bottom: 15px;

	font-size: 18px;
	line-height: 20px;
}

.discount {
	margin: 0;
	margin-bottom: 10px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.button-price {
	border-radius: 3px 0 0 3px;
	width: 65px;
	position: relative;
	margin-top: auto;
	margin-right: 15px;
	margin-bottom: 20px;
	padding: 10px 19px 10px 35px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	white-space: nowrap;
	}


.button-price::after {
	content: "";
	position: absolute;
	top: 0;
	left: 99.9%;
	width: 0;
	height: 0px;
	border: 19px solid transparent;
	border-left-color: #ee3643;
}

.button-price:hover::after {
	border-left-color: #ca2c37;
}

.button-price:active::after {
	border-left-color: #ba2732;
}

.button-buy {
	position: relative;
	display: block;
	width: 135px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 12px 0 9px 0;

	background-color: #63a63e;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	-webkit-box-shadow: inset 0 -3px 0 0 rgba(54, 115, 21, 1);
					box-shadow: inset 0 -3px 0 0 rgba(54, 115, 21, 1);
}

.button-buy .icon-cart {
	position: absolute;
	top: 11px;
	left: 12px;
	width: 15px;
	height: 15px;

	opacity: 0.3;
}

.button-buy:hover .icon-cart,
.button-buy:active .icon-cart,
.button-buy:focus .icon-cart {
	opacity: 1;
}

.button-buy:hover {
	background-color: #5fbb2d;
	-webkit-box-shadow: inset 0 -3px 0 0 rgba(54, 115, 21, 1);
					box-shadow: inset 0 -3px 0 0 rgba(54, 115, 21, 1);
}

.button-buy:focus,
.button-buy:active {
	background-color: #518534;
}

.button-bookmarks {
	display: block;
	width: 135px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 8px 0 7px;
	color: #32425c;

	background-color: #ffffff;
	border: 3px solid #63a63e;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	border-radius: 2px;
}

.button-bookmarks:hover {
	color: #32425c;

	background-color: #ffffff;
	border: 3px solid #32425c;
	border-radius: 3px;
}
.button-bookmarks:focus,
.button-bookmarks:active {
	background-color: #ffffff;
	opacity: .3;
	border-radius: 3px;
	border-color: #c1c6ce;
	
}

.products-item .buttons-actions {
	display: none;
}
.products-item:hover .buttons-actions {
	display: block;
}

.manufacturers-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	list-style: none;
	
}

.manufacturers-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	min-height: 143px;
	width: 220px;

	margin-right: 20px;
	margin-bottom: 20px;

	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.manufacturers-item:nth-child(4n) {
	margin-right: 0;
}

.manufacturers-item:hover {
	-webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
					box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
}

.manufacturers-item:focus,
.manufacturers-item:active {
	opacity: 0.3;
	
	-webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, .5);
	
					box-shadow: 0 4px 10px rgba(41, 52, 73, .5);
}

.services {

	padding-top: 64px;
	margin-bottom: 80px;

	background-color: #f4f7f9;
}

.services h2 {
	margin: 0;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 30px;
	color: #000000;
}

.services p {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}
.services .services-text {
	margin-bottom: 69px;
}

.slider-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
					justify-content: space-between;
	min-height: 285px;
}

.services-option {
	position: relative;
	margin: 0;
	padding: 0;
	width: 240px;
	list-style: none;
}
.services-option:after {
	position: absolute;
	content: "";
	top: -43px;
	right: 0;
	width: 10px;
  height: 272px;
	background-image: url(../img/service-shadow.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}


.services-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}



.services-item {
	position: relative;
	width: 620px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
}

.services-item h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 36px;
	color: #32425c;
}

.services-item p {
	margin: 0;
	padding: 0;
}

.services-item .button-services {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 40px;
	margin-top: 26px;
	text-align: center;
	width: 195px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.services-slide-1 p {
	width: 275px;
}

.services-slide-2 p {
	width: 375px;
}

.services-item .item-image {
	position: absolute;
}

.services-item {
	display: none;
}

.services-slide-1 {
	display: block;	
}

.services-slide-1 .item-image {
	top: 21px;
	right: 0;
	width: 468px;
	height: 261px;
	background-image: url(../img/delivery.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.services-slide-2 .item-image {
	top: 0;
	right: 0;
	width: 389px;
	height: 283px;
	background-image: url(../img/guarantee.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.services-slide-3 .item-image {
	top: 0;
	right: 0;
	width: 465px;
	height: 285px;
	background-image: url(../img/credit.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}


.services-option li {
	padding: 16px 20px;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;

	background-color: #32425c;
	border-bottom: 1px solid #4d637b;
}

.services-option li:last-child {
	border: none;
}

.services-option li:hover{
	background-color: #293449;
}
.services-option li.active {
	color: #32425c;

	background-color: #ffffff;
}

.services-slider {
	list-style: none;
}

.services-slider h3 {
	color: #32425c;
	font-size: 36px;
	line-height: 36px;
}

.services-slider p {
	font-family: 'PT Sans', serif;
	font-weight: 400;
	color: #000000;
	font-size: 13px;
	line-height: 24px;
}

.index-column {
	margin: 0;
	padding-bottom: 86px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
}

.index-column h2 {
	margin: 0;
	margin-bottom: 26px;
	padding: 0;

	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.index-column p {
	margin: 0;
	padding: 0;
	padding-bottom: 24px;

	font-family: 'PT Sans', serif;
	font-weight: 400;
	color: #000000;
	font-size: 13px;
	line-height: 24px;
}

.about-company {
	width: 540px;
}

.about-company .about-text-item {
	padding-bottom: 22px;
}

.contacts .contacts-text-item1,
.about-company .about-text-item1 {
	padding-bottom: 0;
}

.about-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.about-item {
	position: relative;

	margin-top: 20px;
	padding-left: 36px;

	font-family: 'Cuprum', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
}

.about-item:first-child {
	margin-top: 0;
}

.about-item:before {
	content: "";

	position: absolute;
	top: 9px;
	left: 0;

	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.button-about-company {
	display: inline-block;
	vertical-align: middle;
	margin-top: 36px;
	padding: 10px 40px;
}

.contacts {
	width: 300px;
}

.contacts .map-content {
	min-height: 158px;
	padding-bottom: 0;

	cursor: pointer;
}

.button-contacts {
	display: inline-block;
	vertical-align: middle;
	margin-top: 41px;
	padding: 10px 60px 10px 62px;
}

.about-tools {
	padding: 68px 0;

	background-color: #f2f6f8;
}

.about-tools h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.about-tools p {
	margin: 0;
	font-family: 'PT Sans', serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}

.pagination-list {
	margin: 0;
	padding: 0;
	margin-top: 32px;
	margin-bottom: 60px;
	width: 284px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	list-style: none;
}

.pagination-item {
	width: 36px;
	height: 36px;
}

.pagination-item a {
	display: block;
	padding: 8px;
	font-family: 'PT Sans', serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.pagination-item.next {
	width: 138px;

}

.pagination-item.current a:hover,
.pagination-item a:hover {
	border: 1px solid #bdc6ca;
}

.pagination-item.current a:active,
.pagination-item a:active {
	border: 1px solid #ee3643;
}

.pagination-item.current a {
	color: #ffffff;

	background-color: #ee3643;
	border: 1px solid #e5e5e5;
}

.main-footer {
	color: #ffffff;

	background-color: #32425c;
}
.site-navigation-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;	

	margin-bottom: 27px;
}

.footer-logo {
	-ms-flex-item-align: start;
			align-self: flex-start;
	padding: 17px 42px 16px;
	width: 136px;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
}

.site-navigation-footer {
	margin: 0;
	padding: 39px 0 5px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: start;
			-ms-flex-pack: start;
					justify-content: flex-start;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;

	list-style: none;
}

.site-navigation-footer li:not(:last-child) {
	margin-right: 60px;
}

.site-navigation-footer a {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.site-navigation-footer a:hover {
	text-decoration: underline;
}
.site-navigation-footer a:focus {
	opacity: .5;
}

.navigation-promo-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	padding-bottom: 50px;
}

.footer-contacts-text {
	margin: 0;
	padding: 0;

	width: 330px;
	font-size: 18px;
	line-height: 24px;
}

.navigation-promo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	margin: 0;
	padding: 0;
	width: 525px;

	list-style: none;
}

.navigation-promo li:not(:last-child) {
	margin-right: 59px;
}

.navigation-promo a {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}
.navigation-promo a:hover {
	text-decoration: underline;
}

.navigation-promo a:focus {
	opacity: .5;
}

.copyright {
	padding-top: 35px;
	padding-bottom: 34px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;

	background-color: #293449;
}
.copyright .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}

.text-copyright {
	margin: 0;
	padding: 0;
	width: 240px;
}

.social-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	
	margin: 0;
	margin-left: 150px;
	padding: 0;
	width: 132px;
	
	list-style: none;
} 

.social-footer a {
	color: #ffffff;
	background-color: #212a3a;
}

.social-footer a:hover {
	background-color: #ee3643;
}

.social-footer a:focus {
	background-color: #ee3643;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	
  width: 40px;
  height: 40px;

	background-color: #000000;
	border-radius: 50%;
}

.copyright-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 300px;
	margin-left: auto;

	list-style: none;
}

.text-link:last-child {
	padding-right: 15px;
}

.text-link p {
	margin: 0;
	padding: 0;
}

.text-link:last-child {
	text-align: center;
}

.text-link a {
	color: #ffd180;
}

.text-link a:hover {
	text-decoration: underline;
}

.text-link a:focus {
	color: #ee3643;
}

/* modal */

/* animation */

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
						transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
						transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
						transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
						transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
						transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
						transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
						transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
						transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
						transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
						transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
						transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
						transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
						transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
						transform: translateX(10px);
	}
}
/* animation end */

.modal {
	display: none;
}

.modal-show {
	display: block;

	-webkit-animation: bounce 0.6s;

					animation: bounce 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
					animation: shake 0.6s;
}

.modal {
	background-color: #ffffff;
	border-top: 7px solid #ee3643
}

.modal-container {
	width: 460px;
	margin: 0 auto;
}

.modal-login {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -215px;
	width: 620px;

	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);

					box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	z-index: 100;
}

.form-login .modal-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
}

.form-login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	padding-top: 48px;
}

.form-login label {
	display: block;
	margin-bottom: 13px;

	font-size: 18px;
	line-height: 18px;
	color: #000000;
}
.form-login input,
.form-login textarea {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	width: 100%;

	background-color: transparent;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.form-login input:hover {
	border-color:#b5b5b5;
} 

.form-login input:focus {
	border-color:#ee3643;
	outline: none;
} 

.form-login input::-webkit-input-placeholder, 
.form-login textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a9a9a9;
}

.form-login textarea::-moz-placeholder,
.form-login input::-moz-placeholder { /* Firefox 19+ */
  color: #a9a9a9;
}

.form-login textarea:-ms-input-placeholder
.form-login input:-ms-input-placeholder { /* IE 10+ */
  color: #a9a9a9;
}

.form-login textarea:-moz-placeholder
.form-login input:-moz-placeholder { /* Firefox 18- */
  color: #a9a9a9;
}

.user-input {
	margin: 0;
	margin-bottom: 22px;
	width: 220px;
}

.user-input input {
	padding: 9px 14px;
}

.message-input {
	margin: 0;
	margin-bottom: 37px;
	width: 460px;
}

.message-input textarea {
	resize: none;
	padding: 9px 14px;
}

.buttons-wrapper {
	width: 100%;
	padding: 37px 0;

	background-color: #f4f4f4;
}

.button-login {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
}

.button-login:hover {
background-color: #b22832;
}

.button-close {
	display: block;
	position: absolute;
	width: 27px;
	height: 27px;
	top: 6px;
	right: 6px;

	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 100;
}

.button-close::before {
	display: block;
	content: "";
	position: absolute;
	width: 27px;
	height: 4px;
	top: 11px;
	left: 0;

	background-color: #ee3643;
	border-radius: 3px;
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg);

	z-index: 10;
}
.button-close::after {
	display: block;
	content: "";
	position: absolute;
	width: 27px;
	height: 4px;
	top: 11px;
	right: 0;

	background-color: #ee3643;
	border-radius: 3px;
	-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);

	z-index: 10;
}

.button-close:hover::before,
.button-close:hover::after {
	background-color:  #ca2c37;
}

.button-close:active::before,
.button-close:active::after {
	background-color:  #ee3643;
}

.modal-map {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -470px;
	margin-top: -223px;
	width: 940px;
	height: 446px;

	-webkit-box-shadow: 0 0 16px 6px rgba(47, 42, 43, .50);

					box-shadow: 0 0 16px 6px rgba(47, 42, 43, .50);
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	background-color: #565656;
	border-top: none;
	z-index: 50;
}

.modal-map iframe {
	position: relative;
	z-index: 2;
	border: 0;
}

.modal-map p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	margin: 0;
}

.modal-cart .modal-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
}

.modal-cart {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -141px ;
	width: 620px;

	-webkit-box-shadow: 0 20px 40px 0 rgba(41, 52, 73, .75);

					box-shadow: 0 20px 40px 0 rgba(41, 52, 73, .75);
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.product-checked {
	margin: 0;
	padding: 68px 10px 68px 99px;
	font-size: 30px;
	line-height: 30px;
}

.product-checked svg {
	position: absolute;
	top: 48px;
	left: 80px;
}

.button-cart {
	width: 220px;
	padding: 10px 0;
}

.button-continue {
	width: 220px;
	padding: 10px 0;
	color: #000000;
	border-radius: 2px;

	background-color: #ffffff;
	border: none;
	cursor: pointer;
}

.button-continue:hover,
.button-continue:focus {
	background-color: #ffffff;
}


